<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CryptoEvents</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static',filename='styles/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='styles/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="{{ url_for('static',filename='styles/morris.css') }}" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
<style>
.timeline-body{
    overflow: hidden;
}
.loaderDiv {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
   border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 border-left: 16px solid pink;

  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left:40%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

                 <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="/anomaly" id="anomaly"><i class="fa fa-dashboard fa-fw"></i> Detect Anomaly</a>
                        </li>
                        <li><div class="panel panel-default" style="width: 90%; margin:auto;">
                            <div class="panel-heading">
                                <!-- <div class="col-lg-12"> -->
                                    <div class="button-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"> Select CryptoCurrencies<span class="caret"></span></button>
                                        <!-- <div class="dropdown-menu-multiple"> -->
                                        <ul class="dropdown-menu" id="cur">
                                           <li><a href="#" class="small" data-value="BTC" tabIndex="-1"><input type="checkbox" id="BTC"/>&nbsp;BTC</a></li>
                                          <li><a href="#" class="small" data-value="ETH" tabIndex="-1"><input type="checkbox" id="ETH"/>&nbsp;ETH</a></li>
                                          <li><a href="#" class="small" data-value="ETC" tabIndex="-1"><input type="checkbox" id="ETC"/>&nbsp;ETC</a></li>
                                          <li><a href="#" class="small" data-value="DASH" tabIndex="-1"><input type="checkbox" id="DASH"/>&nbsp;DASH</a></li>
                                        <li><a href="#" class="small" data-value="ZEC" tabIndex="-1"><input type="checkbox" id="ZEC"/>&nbsp;ZEC</a></li>
                                         <li><a href="#" class="small" data-value="XMR" tabIndex="-1"><input type="checkbox" id="XMR"/>&nbsp;XMR</a></li>
                                         <li><a href="#" class="small" data-value="XRP" tabIndex="-1"><input type="checkbox" id="XRP"/>&nbsp;XRP</a></li>
                                         <li><a href="#" class="small" data-value="BCH" tabIndex="-1"><input type="checkbox" id="BCH"/>&nbsp;BCH</a></li>
                                          <!-- <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
                                          <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li> -->
                                        </ul>
                                    </div>
                                <!-- </div> -->
                            </div>
                            </div>
                        </li>  
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">CryptoEvents</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
                
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Cryto Time Series
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <!-- <div class="dropdown-menu-single"> -->
                                    <ul class="dropdown-menu" id="time_range" role="menu">
                                        <li><a data-value="intra" href="#"><input type="checkbox" id="intra"/>Intraday</a>
                                        </li>
                                        <li><a data-value="daily" href="#"><input type="checkbox" id="daily"/>Daily</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                        <!-- /.panel-heading -->
                      
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline" id="timeline">

                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-5">
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Correlation Heatmap 
                        </div>
                        <div class="panel-body">
                           <div id="myDiv"></div>
                                <script>
                                
                                </script>
                            
                        </div>
                      
                    </div>
                    <!-- /.panel -->
                       
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div class="loaderDiv"></div>
      <li class="timeline-inverted" id='sample1'  style="visibility:hidden;">
                                    <div class="timeline-badge info"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                            <hr>
                                            <small>
                                    <cite title="Source Title">- Source Title</cite>
                                </small>
                                        </div>
                                    </div>
                                </li>
                                
                                
                                <li id='sample2'  style="visibility:hidden;">
                                    <div class="timeline-badge info"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                            <hr>
                                            <small>
                                    <cite title="Source Title">- Source Title</cite>
                                </small>
                                        </div>
                                    </div>
                                </li>
                                

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='scripts/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static',filename='scripts/metisMenu.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static',filename='scripts/raphael.min.js') }}"></script>
    <!-- <script src="{{ url_for('static',filename='scripts/morris.min.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/morris-data.js') }}"></script>
     --><script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static',filename='scripts/sb-admin-2.js') }}"></script>
    <script>
    document.getElementById("BTC").checked = true;
    document.getElementById("daily").checked = true;
    var cur = ["BTC"];
    var time_range = ["daily"]
    // var active = "time"
    function time_series() {
        console.log("hey")
        console.log(cur)
        console.log(time_range)
        $.ajax({
          url: '/basic',
          data: JSON.stringify({'cur[]':cur, 'time_range[]':time_range}),
          dataType : 'json',
          contentType: 'application/json',
          crossDomain: true,
          type: 'POST',
          beforeSend: function() {
            $(".loaderDiv").show();
            },
          success: function(response) {
                $(".loaderDiv").hide();
                console.log(response);
                // var op = JSON.parse(response);
                // var layout = response['layout'];
            var data = response['traces'];
            console.log("here")
            // Plotly.plot('chart',data,layout);
                var layout = {
                autosize: false,
                  width: 700,
                  height: 500,
                  margin: {
                    l: 50,
                    r: 50,
                    b: 200,
                    t: 50,
                    pad: 4
                  },
                  xaxis: {autorange: true, rangeslider: {}, type: 'date'}, 
          font: {
            family: 'Courier New, monospace',
            size: 10,
            color: '#7f7f7f'
          }
        };

                Plotly.newPlot('chart',data,layout);

                // Plotly.newPlot('myDiv', op);
            },
            error: function(error) {
                console.log(error);
            }
        });
      }
      
    function articles() {
        
        $.ajax({ url: "/get_articles",
        data: JSON.stringify({'cur[]':['none'], 'time[]':[0]}),
          datatype : 'json',
          contentType: 'application/json',
          crossDomain: true,
          type: 'POST',
          beforeSend: function() {
            $(".loaderDiv").show();
            
            },
        success: function(response){
            $(".loaderDiv").hide();
            i=2;
            response=JSON.parse(response)
          for (var j = 0; j < response.length; j++) {
                
                //Do something
            
              if (i==1)
              {
                i=2;
              }
              else
              {
                i=1;
              }
              console.log('#sample'+i)
              if (response[j]['content'] != "")
              {
	              clone=$("#sample"+i).clone()
	              clone.removeAttr('id')
	              clone.removeAttr('style')
	              clone.find('h4')[0].innerHTML='<a href='+response[j]['link']+' target="blank">'+response[j]['title']+'</a>'

	              clone.find('p')[0].innerHTML=response[j]['content'].split(/\s+/).slice(0,50).join(" ")+'...';
	              clone.find('cite')[0].innerHTML='- '+response[j]['time']
	              $('#timeline').append(clone)
	          }
            }
        }});
   
    }

    $( '#cur a' ).on( 'click', function( event ) {
  // console.log(event.currentTarget)
        var $target = $( event.currentTarget ),
            val = $target.attr( 'data-value' ),
            $inp = $target.find( 'input' ),
            idx;
        if ( ( idx = cur.indexOf( val ) ) > -1 ) {
           cur.splice( idx, 1 );
           setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
        } else {
           cur.push( val );
           setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
        }

        $( event.target ).blur();
          
        console.log( cur );
        time_series.call();
        correlation.call();
        // if (active == "time") {time_series.call();}
        // else {correlation.call();}
        return false;
    });

$( '#time_range a' ).on( 'click', function( event ) {
  // console.log(event.currentTarget)
    var $target = $( event.currentTarget ),
        val = $target.attr( 'data-value' ),
        $inp = $target.find( 'input' ),
        idx;
    // console.log(val)
    if (Object.keys(time_range).length === 0 ) {
       // time_range[val] = $inp;
       time_range.push(val)
       setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
    } else {
        loc = time_range[Object.keys(time_range)[0]];
        // console.log("loc " + loc)
        document.getElementById(loc).checked = false;
        idx = time_range.indexOf(loc)
        if (idx>-1) {time_range.splice(idx,1);}
        // console.log(time_range)
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
        // loc.attr('checked', false);
        // delete time_range.loc
        time_range.push(val);
        console.log(time_range)
    }
    time_series.call();
    correlation.call();
    // if (active == "time") {time_series.call();}
    //     else {correlation.call();}
    // console.log(val);
    return false;
    });
function correlation() {

        $.ajax({
          url: '/corr',
          data: JSON.stringify({'cur[]':cur, 'time_range[]':time_range}),
          datatype : 'json',
          contentType: 'application/json',
          crossDomain: true,
          type: 'POST',
          success: function(response) {
                var colorscaleValue = [
                    [0, '#3D9970'],
                    [1, '#001f3f']
                ];
                var op = JSON.parse(response);
                op['colorscale']=colorscaleValue
                op['zmin']=0.0
                op['zmax']
                var data=[];
                data.push(op)
                Plotly.newPlot('myDiv', data);
                console.log(data);
            },
            error: function(error) {
                console.log(error);
            }
        });}
    
    time_series.call();
    articles.call();

    </script>
</body>

</html>
