.loaderDiv {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position:absolute;
    top:40%;
    left:40%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body { background-color: #fafafa; font-family: 'Roboto Condensed'; }
.tag { margin: 150px auto; }
.tag a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
    margin: 0 7px 7px 0;
    border-radius: 5px;
}
/*form {
    text-align: center;
    margin: 70px auto;
}*/